* {
    background-color: #24252A;
}

.link {
    list-style: none;
}

.link li {
    display: inline-block;
    padding: 20px 0px;
}

.link li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
    transition: all 0.4s ease 0s;
}

.link li a:hover {
    color: #1F51FF;
}
