@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #1a1b1f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 2.5%;
    background-color: #1a1b1f;
    box-shadow: 0px 5px 3px #202125;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    background-color: #1a1b1f;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px
}

.nav_links li a {
    transition: all 0.4s ease 0s;
}

.nav_links li a:hover {
    color: #1d4bf0;
}

button {
    padding: 9px 25px;
    background-color: #1F51FF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: #1a43d6;
}
.title {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-align: left;
    margin-top: 5px;
    margin-left: 60px;
    font-size: 50px;
}

.hidden_link {
    text-decoration: none;
    list-style: none;   
    font-size: 50px;
}
.hidden_link :hover {
    color: #0088a9
}

nav ul li a{
    background-color: #1a1b1f;
}
